@font-face {
    font-family: Iran-sans-ultra-light;
    src: url(../fonts/IRANSansX-UltraLight.woff2);
}
@font-face {
    font-family: Iran-sans-thin;
    src: url(../fonts/IRANSansX-Thin.woff2);
}
@font-face {
    font-family: Iran-sans-regular;
    src: url(../fonts/IRANSansX-Regular.woff2);
}
@font-face {
    font-family: Iran-sans-medium;
    src: url(../fonts/IRANSansX-Medium.woff2);
}
@font-face {
    font-family: Iran-sans-light;
    src: url(../fonts/IRANSansX-Light.woff2);
}
@font-face {
    font-family: Iran-sans-heavy;
    src: url(../fonts/IRANSansX-Heavy.woff2);
}
@font-face {
    font-family: Iran-sans-extra-bold;
    src: url(../fonts/IRANSansX-ExtraBold.woff2);
}
@font-face {
    font-family: Iran-sans-extra-black;
    src: url(../fonts/IRANSansX-ExtraBlack.woff2);
}
@font-face {
    font-family: Iran-sans-demi-bold;
    src: url(../fonts/IRANSansX-DemiBold.woff2);
}
@font-face {
    font-family: Iran-sans-bold;
    src: url(../fonts/IRANSansX-Bold.woff2);
}
@font-face {
    font-family: Iran-sans-black;
    src: url(../fonts/IRANSansX-Black.woff2);
}